@use "./common.scss";

:root {
  --primary-color: #63e2b7;
  --primary-hover-color: #7fe7c4;
  --primary-pressed-color: #5acea7;

  --bg-color: #101014;
  --content-bg-color: #18181c;
  --content-hl-color: #26262a;
  --light-color: rgba(255, 255, 255, 0.82);
  --gray-color: #6b6e76;
  --red-color: #fc5185;
  --red-pressed-color: #f4336d;
  --blue-color: #70c0e8;
  --blue-pressed-color: #66afd3;
}

html,
body {
  background-color: transparent;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

div#app {
  height: 100%;
  box-sizing: border-box;
}

.n-spin-container {
  background-color: var(--bg-color);
  @include common.flexFullHeight;
  .n-spin-content {
    @include common.flexFullHeight;
  }
}
